/* primary style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* banner section style  */
.banner-container{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    border-radius: 30px;
    background: #161616;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    margin: 50px 140px;
}
.banner-content{
    padding-bottom: 100px;
}
.banner-title{
    padding-top: 100px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}
.banner-describe{
    color: #FFF;
    font-size: 1rem;
    padding-bottom: 15px;
}
.btn-primary{
    color: #FFF;
    border: none;
    border-radius: 5px;
    background: #D00;
    padding: 15px 25px;
}
.banner-img img{
    width: 550px;
    position: relative;
    bottom: -6px;
}

/* responsive for mobile  */
@media screen and (max-width: 576px) {
    .banner-container{
        gap: 10px;
        flex-direction: column;
        margin: 20px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .banner-title{
        font-size: 1.3rem;
    }
    .banner-img img{
        width: 280px;
    }
    .banner-describe{
        font-size: 0.8rem;
    }
}

/* responsive for tablet view  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner-container{
        gap: 10px;
        margin: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-describe{
        font-size: 0.8rem;
    }
    .banner-img img{
        width: 400px;
        position: relative;
        bottom: -51px;
    }
}